* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shop-category {
    margin-top: calc(12vmin + 1rem);
}

.shopcategory-banner {
    display: block;
    margin: 5vmin auto;
    width: 85%;
}

.shopcategory-indexSort {
    display: flex;
    margin-inline: 8vmin;
    justify-content: space-between;
    align-items: center;
    font-size: 2.25vmin;
}

.shopcategory-indexSort p span {
    font-weight: 600;
}

#sort {
    padding: 1vmin 2.5vmin;
    font-size: 2.5vmin;
    border: 2px solid darkgrey;
    border-radius: 5vmin;
}

.shopcategory-products {
    margin: 20px 10vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-self: center;
    row-gap: 30px;
    column-gap: 20px;
}

.shopcategory-loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vmin auto;
    width: fit-content;
    padding: 2.5vmin 5vmin;
    border: 1px solid transparent;
    border-radius: 65px;
    background-color: #ededed;
    color: #787878;
    font-size: 3vmin;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 250ms linear, color 250ms linear, border 250ms linear;
}

.shopcategory-loadmore:hover,
.shopcategory-loadmore:focus {
    border: 1px solid #787878;
    background-color: white;
    color: black;
}