* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    display: flex;
    grid-template-columns: repeat(10, 1fr);
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    box-shadow: 0 1px 3px -2px black;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: white;
    /* Ensure the background color is set */
    z-index: 1000;
    /* Ensure it stays on top of other elements */
}

/* Menu toggle button */

#hamburger {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 1vmin;
    border: none;
    background-color: transparent;
}

#hamburger * {
    height: 0.75vmin;
    min-height: 0.125rem;
    width: 6vmin;
    background-color: black;
    border-radius: 0.25rem;
}

.nav-logo {
    grid-column: span 4;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo img {
    height: 10vmin;
}

.nav-logo p {
    color: #171717;
    font-size: 3rem;
    font-weight: 600;
}

.nav-menu {
    grid-column: span 5;
    max-width: 60rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    gap: 45px;
    color: #626262;
    font-size: 2.75vmin;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #FF4141;
}

.nav-menu button {
    padding: 2.5vmin 5vmin;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 2.75vmin;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
}

.nav-menu button:active {
    background-color: #f3f3f3;
}

.nav-cart {
    position: relative;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-self: center;
}

.nav-cart img {
    height: 6.5vmin;
}

.nav-cart-count {
    position: absolute;
    top: -0.5vmin;
    right: -1.5vmin;
    height: 3.5vmin;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 2.5vmin;
    background: red;
    color: white;
}

.login-btn:hover {
    background: red;
    color: white;
    transition: 0.35s;
    border: none;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2)
}

@media (max-width: 1200px) {

    .nav-bar {
        grid-template-columns: repeat(3, 1fr);
    }

    #hamburger {
        display: flex;
        margin: 1rem 1.5rem;    
    }

    .nav-logo {
        grid-column: span 1;
    }

    .nav-menu {
        height: 0px;
        width: 100%;
        /* display: none; */
        grid-column: span 3;
        grid-row-start: 2;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        /* border-top: 1px solid grey; */
        overflow: hidden;
        transition: height 250ms linear, margin 250ms linear, padding 250ms linear, ;
    }

    .nav-menu.show {
        height: 100%;
        margin-top: 5vmin;
        padding-top: 2.5vmin;
        display: flex;
    }
}